<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AlbumFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli\output\album_tracks"/>
    <add key="ImageFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli\output\album_image"/>
    <add key="TrackFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli\output\tracks"/>
    <add key="DDEXFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli\output\ddex_packages"/>
    <add key="CSVFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli\output\csv_packages"/>
    <add key="CompositionFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli\output\composition_packages"/>
    <add key="YoutubeAssetCLIFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli"/>
    <add key="BMATFolder" value="D:\go-src\src\emvn-minions\youtube-asset-cli\output\bmat_packages"/>
    <add key="SshUrl" value="74.125.23.130"/>
    <add key="SshPort" value="19321"/>
    <add key="SshUsername" value="yt-audiomachine2"/>
    <add key="SshPassword" value=""/>
    <add key="SshKey" value="sftp_youtube_ddex_key"/>    
    <add key="SshUsernameComposition" value="yt-pub-audiomachinesftp"/>
    <add key="SshPasswordComposition" value=""/>
    <add key="SshKeyComposition" value="sftp_youtube_composition_key"/>
    <add key="SshUsernameCSV" value="yt-audiomachinesftp"/>
    <add key="SshPasswordCSV" value=""/>
    <add key="SshKeyCSV" value="sftp_youtube_key"/>
    <add key="BMATFtpUrl" value="ftp.bmat.com"/>
    <add key="BMATFtpUsername" value="emvn_ftp"/>
    <add key="BMATFtpPassword" value="LTxMAVAJrghSX"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>