<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AlbumFolder" value="D:\GoProjects\src\emvn-minions\youtube-asset-cli\output\album_tracks"/>
    <add key="ImageFolder" value="D:\GoProjects\src\emvn-minions\youtube-asset-cli\output\album_image"/>
    <add key="TrackFolder" value="D:\GoProjects\src\emvn-minions\youtube-asset-cli\output\tracks"/>
    <add key="SshUrl" value=""/>
    <add key="SshPort" value=""/>
    <add key="SshUsername" value=""/>
    <add key="SshPassword" value=""/>
    <add key="SshKey" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>